<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html style="background-image: url(static/css/Resources/moon-tree-wallpaper.jpg);background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%">
<!--"{{ url_for('static', filename='stylesheets/style.css') }}"-->
<head>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleNavBar.css')}}">
<script type = "text/javascript" src = "{{ url_for('static', filename='js/User.js') }}"></script>

<!-- Navigation -->
	<nav>
		<div class="topnav">
			<a id="down" href="{{ url_for('GET', uri='download') }}">Download</a>
			<a id="up" href="{{ url_for('GET', uri='upload') }}">Upload</a>
			<a href="#contact">Contact</a>
			<a class="active" href="{{ url_for('GET', uri='aboutus') }}">About</a>
			<a onclick="delCookie()" id="out" href="{{ url_for('GET', uri='login') }}">Logout</a>
			<a id="in" href="{{ url_for('GET', uri='login') }}">Login</a>
		</div>

	</nav>
<div class="container" style="margin: auto; max-width: 800px;">

	<body onLoad="dispNavbar()">
		<h1 style="text-align: center;color: white;font-size: calc(1vw + 0.5vh + 0.9vmin)">About us</h1>
		<p style="color: white; text-align: left; font-size: calc(0.8vw + 0.4vh + 1vmin)">
			In biomedical field data is a great treasure. Using data, in fact we can know more things about biological systems to increase healthcare efficiency. The biggest problem is that data not always is in a standard form, so sometimes is impossibile share data. The main aim of this master thesis project is to create a repository to share sleeping data trying to use all biomedical standards(ihe, hl7). 
			The main actors in this work are: Dauin from Politecnico di Torino, Astel Electronic Engineering and CNR. I am the student that is currently working in this project, Samuele Tozzi.
		</p>
	</body>

</html>