<!DOCTYPE html>
<html style="background:  url(static/css/Resources/moon-tree-wallpaper.jpg);background-size: cover; background-repeat: repeat-y; height: 100%; width: 100%">
<head>
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/styleLogin.css')}}">
		<script type = "text/javascript" src = "{{ url_for('static', filename='js/User.js') }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
</head>
<body>

	<!-- classe text, tutte le scritte bianche-->
	<div class="text">
		<h1>Welcome to the first sleeping data repository</h1>
		<h2>Change your password</h2>

		<!--Qui devo poi metterci un js per la validazione del form e per il post che farò al server-->
		<form id="form">
		  <label for="uname">Username:</label><br>
		  <input type="text" placeholder="Type your username" id="uname" name="uname"><br>
		  <label for="psw">Password:</label><br>
		  <input type="password" placeholder="Temporary password" id="temp" name="temp"><br>
		  <input type="password" placeholder="Type your new password" id="psw" name="psw"><br>
		  <input type="password" placeholder="Type your new password" id="psw2" name="psw2"><br>
		  
		  <input type="button" onclick="changepsw()" value="Reset Password">
		</form>
	</div>

	</body>
</html>