<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html style="background-image: url(/static/css/Resources/moon-tree-wallpaper.jpg);background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%">
<!--"{{ url_for('static', filename='stylesheets/style.css') }}"-->
<head>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleNavBar.css')}}">
<script type = "text/javascript" src = "{{ url_for('static', filename='js/User.js') }}"></script>


<div class="container" style="margin: auto; max-width: 800px;">

	<body onLoad="dispNavbar()">
		<h1 style="text-align: center;color: white;font-size: calc(1vw + 0.5vh + 0.9vmin)">Cookies & other storage technologies</h1>
		<p style="color: white; text-align: left; font-size: calc(0.8vw + 0.4vh + 1vmin)">
Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones and other devices. Other technologies, including data that we store on your web browser or device, identifiers associated with your device and other software, are used for similar purposes. In this policy, we refer to all of these technologies as "cookies".  Cookies enable SleepingRepo to offer the SleepingRepo Products to you and to understand the information that we receive about you.

		<h1 style="text-align: center;color: white;font-size: calc(1vw + 0.5vh + 0.9vmin)">Why do we use cookies?</h1>
		<p style="color: white; text-align: left; font-size: calc(0.8vw + 0.4vh + 1vmin)">

<u><b>Authentication:</b></u>
We use cookies to verify your account and determine when you're logged in so that we can make it easier for you to access the Facebook Products and show you the appropriate experience and features.
		</p>
				<p style="color: white; text-align: left; font-size: calc(0.8vw + 0.4vh + 1vmin)">

<u><b>Security, site and product integrity:</b></u>
We use cookies to help us keep your account, data and the SleepingRepo Products safe and secure.
		</p>
	</body>

</html>