
@media screen and (orientation:landscape) {
/*desktop view*/
	.text{
		color:white;
		text-align:center;
		position: absolute;
		top:7%;
		left:30%;
		width:40%;

	}


		h1
			{

			max-width: 1000px;
			margin:auto;
			margin-top: 3%;
			font-size: calc(2.5vw + 1vh + 0vmin);
			font-weight: 700;
			}
		h2
		{

			max-width: 500px;
			margin:auto;
			margin-top: 5%;
			font-size: calc(1.5vw + 1vh + 0vmin);
			font-weight: 700;
		}

		form
		{

			margin-top: 2%;
			font-size: calc(1vw + 1vh + 0vmin);
		}
			input
			{
				max-width: 250px;
				max-height: 300px;
				width: 30%;
				height: 50%;
				margin-top: 5%;
				display: inline-block;
				font-size: calc(0.5vw + 1vh + 0vmin);
			}
				
				input[type="submit"]
				{
					
				    margin-top: 3%;
				    max-width: 200px;
				    width: 30%;
				   
				}

				input[type="checkbox"] {
				  -webkit-appearance: checkbox;
				     -moz-appearance: checkbox;
				          appearance: checkbox;
				  display: inline-block;
				  width: auto;
				  height: auto;
				}



			label {
			    display: inline-block;
			    margin-top: 5%;
			}

				#check {
				    display: inline-block;
				    font-size: calc(0.5vw + 1vh + 0vmin);
				    margin-top: 3%;
				}

			#forgot{
				display: inline-block;
				font-size: calc(0.3vw + 0.8vh + 0vmin);
			}

				a:link {
				  color: yellow;
				}

				/* visited link */
				a:visited {
				  color: white;
				}

				/* mouse over link */
				a:hover {
				  color: hotpink;
				}

				/* selected link */
				a:active {
				  color: red;
				}
		.sub{
			margin-top: 30px;
		}
			#new{
				display: inline-block;
			}
			#sub{
				display: inline-block;
			}
}

@media screen and (orientation:portrait)  {

	.text{
		color:white;
		text-align:center;
		position: absolute;
		top:10%;
		left:10%;
		width:80%;

	}


		h1
			{

			max-width: 1000px;
			margin:auto;

			margin-top: 5%;
			font-size: calc(3vw + 2vh + 0vmin);
			font-weight: 700;
			}
		h2
		{

			max-width: 500px;
			margin:auto;
			margin-top: 20%;
			font-size: calc(2vw + 1.5vh + 0vmin);
			font-weight: 700;
		}

		form
		{

			margin-top:5%;
			font-size: calc(1.5vw + 1.25vh + 0.5vmin);
		}
			input
			{
				max-width: 250px;
				max-height: 300px;
				width: 50%;
				height: 50%;
				margin-top: 5%;
				display: inline-block;
				font-size: calc(1.5vw + 1.25vh + 0vmin);
			}
				

				input[type="checkbox"] {
				  -webkit-appearance: checkbox;
				     -moz-appearance: checkbox;
				          appearance: checkbox;
				  display: inline-block;
				  width: auto;
				  height: auto;
				}



			label {
			    display: inline-block;
			    margin-top: 5%;
			}

				#check {
				    display: inline-block;
				    font-size: calc(0.5vw + 1vh + 0vmin);
				    margin-top: 3%;
				}

			#forgot{
				display: inline-block;
				font-size: calc(0.3vw + 0.8vh + 0vmin);
			}

				a:link {
				  color: yellow;
				}

				/* visited link */
				a:visited {
				  color: white;
				}

				/* mouse over link */
				a:hover {
				  color: hotpink;
				}

				/* selected link */
				a:active {
				  color: red;
				}
		.sub{
			margin-top: 30px;
		}
			#new{
				display: inline-block;
			}
			#sub{
				display: inline-block;
			}
}

@media screen and  (min-width: 815px) {

/*desktop view*/
	.text{
		color:white;
		text-align:center;
		position: absolute;
		top:7%;
		left:30%;
		width:40%;

	}


		h1
			{

			max-width: 1000px;
			margin:auto;
			margin-top: 3%;
			font-size: calc(2.5vw + 1vh + 0vmin);
			font-weight: 700;
			}
		h2
		{

			max-width: 500px;
			margin:auto;
			margin-top: 5%;
			font-size: calc(1.5vw + 1vh + 0vmin);
			font-weight: 700;
		}

		form
		{

			margin-top: 2%;
			font-size: calc(1vw + 1vh + 0vmin);
		}
			input
			{
				max-width: 250px;
				max-height: 300px;
				width: 30%;
				height: 50%;
				margin-top: 5%;
				display: inline-block;
				font-size: calc(0.5vw + 1vh + 0vmin);
			}
				
				input[type="submit"]
				{
					
				    margin-top: 3%;
				    max-width: 200px;
				    width: 30%;
				   
				}

				input[type="checkbox"] {
				  -webkit-appearance: checkbox;
				     -moz-appearance: checkbox;
				          appearance: checkbox;
				  display: inline-block;
				  width: auto;
				  height: auto;
				}



			label {
			    display: inline-block;
			    margin-top: 5%;
			}

				#check {
				    display: inline-block;
				    font-size: calc(0.5vw + 1vh + 0vmin);
				    margin-top: 3%;
				}

			#forgot{
				display: inline-block;
				font-size: calc(0.3vw + 0.8vh + 0vmin);
			}

				a:link {
				  color: yellow;
				}

				/* visited link */
				a:visited {
				  color: white;
				}

				/* mouse over link */
				a:hover {
				  color: hotpink;
				}

				/* selected link */
				a:active {
				  color: red;
				}
		.sub{
			margin-top: 30px;
		}
			#new{
				display: inline-block;
			}
			#sub{
				display: inline-block;
			}
}