@media screen and (orientation:landscape) {
/*desktop view*/

	.text{
			color:white;
			text-align:center;
			position: absolute;
			top:0%;
			left:30%;
			width:40%;

		}


		h1{
			max-width: 2000px;
			margin:auto;
			color:white;
			margin-top: 0%;
			font-size: calc(2.5vw + 1vh + 0vmin);
			font-weight: 700;
			}
		h2{
			max-width: 500px;
			margin:auto;
			margin-top: 5%;
			font-size: calc(1.5vw + 1vh + 0vmin);
			font-weight: 700;
			}

		form
		{
			margin-top: 5%;
			font-size:calc(1vw + 1vh + 0vmin);

		}
			input
			{
				max-width: 500px;
				max-height: 500px;
				width: 50%;
				height: 40%;
				display: inline-block;
				font-size:calc(0.5vw + 1vh + 0vmin); 
				margin-top: 1%; 
			}
				
			input[type="button"]
			{
			    margin-top: 0%;

			}

			select
			{
				max-width: 500px;
				max-height: 500px;
				width: 52%;
				height: 40%;
				display: inline-block;
				font-size:calc(0.5vw + 1vh + 0vmin); 

			}

			.buttonload 
			{
				margin-top: 0%;
	 			margin-right: auto;
				margin-left: auto;

				width: 50%x;
				display: none;
				font-size:calc(0.5vw + 1vh + 0vmin); 
	
			}

			/* Add a right margin to each icon */
			.fa 
			{
				margin-left: 10%;
				margin-right: 5%;


			}

			/*trova un modo per farlo andare a capo!*/
			.Condition
			{				
				font-size:calc(0.2vw + 1vh + 0.2vmin);
				text-align: justify;
  				margin: 0 auto;
  				width: 50%
				
			}

			a:link {
				  color: yellow;
				}

				/* visited link */
				a:visited {
				  color: white;
				}

				/* mouse over link */
				a:hover {
				  color: hotpink;
				}

				/* selected link */
				a:active {
				  color: red;
				}


}


@media screen and (orientation:portrait) {


	.text{
		color:white;
		text-align:center;
		position: absolute;
		top:5%;
		left:5%;
		width:90%;

	}


		h1
			{
			max-width: 2000px;
			margin:auto;
			color:white;
			margin-top: 0%;
			font-size: calc(2.5vw + 1vh + 0vmin);
			font-weight: 700;
			}
		h2
		{
			max-width: 500px;
			margin:auto;
			margin-top: 10%;
			font-size: calc(1.5vw + 1vh + 0vmin);
			font-weight: 700;
		}

		form
		{
			margin-top: 4%;
			font-size:calc(1vw + 1vh + 0vmin);

		}
			label
			{
				display: inline-block;
				font-size:calc(0.5vw + 1.1vh + 0.3vmin); 
				margin-top: 5%; 
			}
			input
			{
				max-width: 900px;
				max-height: 900px;
				width: 70%;
				display: inline-block;
				font-size:calc(0.5vw + 1vh + 0vmin); 
				margin-top: 1%; 
			}
				
				input[type="button"]
				{
				    margin-top: 0%;

				}

			select
			{
				max-width: 500px;
				max-height: 500px;
				width: 72%;

				display: inline-block;
				font-size:calc(0.5vw + 1vh + 0vmin); 

			}

			.buttonload {
				margin-top: 0%;
	 			margin-right: auto;
				margin-left: auto;

				width: 70%;
				display: none;
				font-size:calc(0.5vw + 1vh + 0vmin); 
	
}

/* Add a right margin to each icon */
			.fa {
				margin-left: 10%;
				margin-right: 5%;


			}

			/*trova un modo per farlo andare a capo!*/
			.Condition{				
				font-size:calc(0.3vw + 0.6vh + 0.2vmin);
				text-align: justify;
  				margin: 0 auto;
  				width: 50%
				
			}

			a:link {
				  color: yellow;
				}

				/* visited link */
				a:visited {
				  color: white;
				}

				/* mouse over link */
				a:hover {
				  color: hotpink;
				}

				/* selected link */
				a:active {
				  color: red;
				}

	}


	}
@media screen and (max-width: 798px) {
/*desktop view*/

	.text{
			color:white;
			text-align:center;
			position: absolute;
			top:0%;
			left:30%;
			width:40%;

		}


		h1{
			max-width: 2000px;
			margin:auto;
			color:white;
			margin-top: 0%;
			font-size: calc(2.5vw + 1vh + 0vmin);
			font-weight: 700;
			}
		h2{
			max-width: 500px;
			margin:auto;
			margin-top: 5%;
			font-size: calc(1.5vw + 1vh + 0vmin);
			font-weight: 700;
			}

		form
		{
			margin-top: 5%;
			font-size:calc(1vw + 1vh + 0vmin);

		}
			input
			{
				max-width: 500px;
				max-height: 500px;
				width: 50%;
				height: 40%;
				display: inline-block;
				font-size:calc(0.5vw + 1vh + 0vmin); 
				margin-top: 1%; 
			}
				
			input[type="button"]
			{
			    margin-top: 0%;

			}

			select
			{
				max-width: 500px;
				max-height: 500px;
				width: 52%;
				height: 40%;
				display: inline-block;
				font-size:calc(0.5vw + 1vh + 0vmin); 

			}

			.buttonload 
			{
				margin-top: 0%;
	 			margin-right: auto;
				margin-left: auto;

				width: 50%x;
				display: none;
				font-size:calc(0.5vw + 1vh + 0vmin); 
	
			}

			/* Add a right margin to each icon */
			.fa 
			{
				margin-left: 10%;
				margin-right: 5%;


			}

			/*trova un modo per farlo andare a capo!*/
			.Condition
			{				
				font-size:calc(0.2vw + 1vh + 0.2vmin);
				text-align: justify;
  				margin: 0 auto;
  				width: 50%
				
			}

			a:link {
				  color: yellow;
				}

				/* visited link */
				a:visited {
				  color: white;
				}

				/* mouse over link */
				a:hover {
				  color: hotpink;
				}

				/* selected link */
				a:active {
				  color: red;
				}


}